/* General */
* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 375px;
}
body a {
  text-decoration: none;
}

/* Header */
.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px 0px 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 0px solid #ffffff;
  font-size: 18px;
  border-radius: 50%;
}
.btn-back .fa-solid.fa-arrow-left {
  color: black;
}

.header-logo {
  display: flex;
  justify-content: center;
  height: 60px;
  width: auto;
  padding: 15px 65px;
}

/* Main */
.restaurant {
  background-color: white;
}
.restaurant img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: xx-large;
  margin-top: 12px;
  margin-bottom: 0px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.title i {
  position: absolute;
  right: 8px;
  top: 35px;
}
.title .fa-solid {
  color: linear-gradient(#ff79da, #9356dc);
  opacity: 0;
  transition-duration: 400ms linear;
}
.title .fa-regular {
  opacity: 1;
}
.title:hover .fa-solid {
  opacity: 1;
}
.title:hover .fa-regular {
  opacity: 0;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 15px;
  transform: translateY(-4%);
}

.list-plates {
  animation: plates 1s ease-out forwards;
}

.list-plates:nth-child(1) {
  animation-delay: 0.1s;
}

.list-plates:nth-child(2) {
  animation-delay: 0.1s;
}

.list-plates:nth-child(3) {
  animation-delay: 0.1s;
}

.plate:nth-child(1) {
  animation-delay: 0.1s;
}

.plate:nth-child(2) {
  animation-delay: 0.2s;
}

.plate:nth-child(3) {
  animation-delay: 0.3s;
}

.plate:nth-child(4) {
  animation-delay: 0.4s;
}

.plate:nth-child(5) {
  animation-delay: 0.5s;
}

.plate:nth-child(6) {
  animation-delay: 0.6s;
}

.plate:nth-child(7) {
  animation-delay: 0.7s;
}

.plate:nth-child(8) {
  animation-delay: 0.8s;
}

.plate:nth-child(9) {
  animation-delay: 0.9s;
}

.plate:nth-child(10) {
  animation-delay: 1s;
}

@keyframes plates {
  0% {
    opacity: 0;
    transform: translateX(-9999px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
h3 {
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 5px;
}

.left-bar {
  width: 40px;
  height: 3px;
  border: 1px solid #99e2d0;
  text-align: left;
  background-color: #99e2d0;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 5px;
}

.plate {
  position: relative;
  background-color: white;
  border: 0px solid;
  font-size: 20px;
  border-radius: 17px;
  height: 70px;
  width: 345px;
  padding: 5px 15px;
  margin-bottom: 12px;
  opacity: 0;
  animation: plates 3s ease-out forwards;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.1));
  font-size: clamp(15px, 5vw, 25px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.plate .title-plate {
  display: flex;
  justify-content: space-between;
}
.plate h4 {
  display: flex;
  align-self: flex-start;
  font-weight: 500;
  margin: 0px;
  padding: 5px 0px;
}
.plate .price {
  display: flex;
  justify-content: space-between;
}
.plate p {
  margin: 0px;
  font-weight: 300;
  font-size: medium;
}
.plate p .strong {
  transform: translateX(50px);
}

.toggle-check {
  display: none;
}

.check-zone {
  position: absolute;
  background-color: #99e2d0;
  border-radius: 0px 17px 17px 0px;
  width: 60px;
  height: 70px;
  right: -62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -56px;
}
.check-zone .checkmark {
  position: absolute;
}

.toggle-check:checked ~ .check-zone {
  right: 0;
}

.toggle-check:checked ~ .price {
  animation: check 0.3s ease-in-out forwards;
}

@keyframes check {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
.command {
  display: flex;
  justify-content: center;
}
.command .btn-explorer {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  border: 0px;
  height: 50px;
  width: 190px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.2));
  color: #f6f6f6;
  font-weight: 400;
  font-size: medium;
  margin: 15px 10px 10px 10px;
  text-decoration: none;
}

/* Footer */
.footer-section {
  background-color: black;
  color: white;
  padding: 5px 20px;
  margin-top: -45px;
}

.footer-title p {
  display: flex;
  justify-content: flex-start;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}

ul {
  padding: 0px;
  display: inline-block;
  margin: 0px 0px 15px 0px;
}

li {
  list-style-type: none;
}
li p {
  margin: 5px 0px;
  font-size: small;
  color: white;
}
li .fa-solid {
  margin-right: 5px;
}

.ligne-footer {
  display: flex;
  align-items: center;
}
.ligne-footer i {
  font-size: 12px;
  float: left;
}/*# sourceMappingURL=style-la-palette.css.map */