/* General */
* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 375px;
}

a {
  text-decoration: none;
}

/* Header */
.header-logo {
  display: flex;
  justify-content: center;
  height: 60px;
  width: auto;
  padding: 15px 90px;
}

/* Main */
.fa-solid.fa-location-dot {
  display: flex;
  align-items: center;
  padding: 15px;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.2));
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
  background-color: #f6f6f6;
}
.presentation h2 {
  margin: 5px 0px;
  padding: 0px 40px;
}
.presentation h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #353535;
}

.btn-explorer {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  height: 50px;
  width: 180px;
  text-align: center;
  margin: 10px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.2));
}
.btn-explorer h5 {
  color: #f6f6f6;
  font-weight: 400;
  margin: 15px 10px 10px 10px;
  text-decoration: none;
}

h2 {
  padding: 30px 20px 0px 20px;
}

.Fonctionnement {
  margin-bottom: 70px;
}
.Fonctionnement .fa-solid {
  color: #808080;
}
.Fonctionnement .fa-solid:hover {
  color: #9356dc;
}
.Fonctionnement .fa-solid.fa-mobile-screen-button {
  margin: 0px 15px;
}

.conteneur {
  display: grid;
  grid-template-columns: 10px 300px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 10px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f6f6f6;
  border: 0px solid #f6f6f6;
  text-align: center;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
  height: 70px;
  width: 325px;
  padding: 5px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.1));
}

.cercle {
  display: flex;
  background-color: #9356dc;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  z-index: 1;
}
.cercle p {
  color: #f6f6f6;
  margin-left: 8px;
  margin-top: 3px;
}

.btn-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f6f6;
  margin: 15px 10px 10px 10px;
  font-weight: 500;
  font-size: 16px;
}

/*Restaurants*/
.restaurants {
  background-color: #f6f6f6;
  padding: 10px 0px 30px 0px;
}

.carte {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.carte img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-txt {
  padding: 15px 10px 15px 10px;
}
.card-txt h3 {
  margin: 0px;
  text-decoration: none;
}
.card-txt p {
  padding: 5px 0px;
  margin: 0px;
  font-weight: normal;
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 180px;
}

.btn-new {
  height: 29px;
  width: 80px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 15px;
  font-weight: 400;
  border: 0px solid #99e2d0;
  border-radius: 2px;
  position: relative;
}

.heart-icons {
  position: relative;
  display: inline-block;
}
.heart-icons i {
  position: absolute;
  top: 0px;
  left: 8px;
}
.heart-icons .fa-solid {
  color: linear-gradient(#ff79da, #9356dc);
  opacity: 0;
  transition-duration: 400ms linear;
}
.heart-icons .fa-regular {
  opacity: 1;
}
.heart-icons:hover .fa-solid {
  opacity: 1;
}
.heart-icons:hover .fa-regular {
  opacity: 0;
}

.hearts {
  display: flex;
  position: absolute;
  bottom: 45px;
  right: 60px;
  align-items: flex-end;
}

/* Footer */
.footer-section {
  background-color: black;
  color: white;
  padding: 5px 20px;
}

.footer-title p {
  display: flex;
  justify-content: flex-start;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}

ul {
  padding: 0px;
  display: inline-block;
  margin: 0px 0px 15px 0px;
}

li {
  list-style-type: none;
}
li p {
  margin: 5px 0px;
  font-size: small;
  text-decoration: none;
  color: white;
}
li .fa-solid {
  margin-right: 5px;
}

.ligne-footer {
  display: flex;
  align-items: center;
}
.ligne-footer i {
  font-size: 12px;
  float: left;
}/*# sourceMappingURL=style.css.map */