/* General */
* {
    font-family: "Roboto", serif;
    box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 375px;
}

/* Header */
.header-logo {
    display: flex;
    justify-content: center;
    height: 60px;
    width: auto;
    padding: 15px 90px;
}

/* Main */
.fa-solid.fa-location-dot {
    display: flex;
    align-items: center;
    padding: 15px;
}
.localisation{
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.2));
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
  background-color: #F6F6F6;
}

.presentation>h2 {
  margin: 5px 0px;
  padding: 0px 40px;
}

.presentation>h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #353535;
}

.btn-explorer {
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  width: auto;
  text-align: center;
  margin: 10px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.2));
}

h5 {
  color: #F6F6F6;
  font-weight:normal;
  margin: 10px;
}


.Fonctionnement>h2 {
  padding: 20px 20px 10px 20px;

}

.fa-solid {
  color: #808080;
}

h4 {
  margin: 5px;
}

.conteneur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

button {
  background-color: #F6F6F6;
  border: 0px solid #F6F6F6;
  text-align: center;
  align-items: center;
  font-size: 20px;
  border-radius: 25px;
  height: 70px;
  width: 335px;
  padding: 5px;
}

